<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI9hdqN9E1PEXj1wsfwLgzGyO09uds9l8</string>
	<key>GCM_SENDER_ID</key>
	<string>300185674739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-app-f8ef2</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-f8ef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300185674739:ios:0ff3c835e957c98719e886</string>
</dict>
</plist>